<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../../static/flexible.js"></script>
  <link rel="stylesheet" href="../../static/base.css"/>
</head>
<body>
  <div class="Wrap_Box">
    <header class="header">
      <img src=<%= require('../img/login_cn.png') %>  alt=""/>
    </header>
    <section class="section">
      <div class="login">
        <ul>
          <li class="login__item">
              <div class="login__item__left">
                  <span class="iconfont icon-yonghuming item__left--user"></span>
              </div>
              <input type="text" class="login__item__input">
              <div class="login__item__right">
                  <span class="iconfont icon-cha item__right--delete"></span>
              </div>
          </li>
          <li class="login__item">
            <div class="login__item__left">
                <span class="iconfont icon-suo item__left--user"></span>
            </div>
            <input type="text" class="login__item__input">
            <div class="login__item__right">
                <span class="iconfont icon-z-eyeCloses item__right--delete"></span>
            </div>
        </li>
          <li class="login__item">fff</li>
        </ul>
      </div>
    </section>
  </div>
</body>
</html>